
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Twitter:</b>
  <%= @user.twitter_id %>
</p>

<p>
  <b>Profile:</b>
  <%= @user.profile %>
</p>

<p>
  <b>Image url:</b>
  <%= @user.image_url %>
</p>

<p>
  <b>Blog url:</b>
  <%= @user.blog_url %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
